{% extends "base.html" %} {% block content %}
<div class="row justify-content-center text-center mt-5">
  <div class="col-md-8">
    <h1 class="display-4 mb-4">Explore the World of Football</h1>
    <p class="lead text-muted mb-5">
      Search for your favorite teams, explore match history, and discover
      stadiums.
    </p>

    <form
      action="{{ url_for('search') }}"
      method="POST"
      class="d-flex shadow-sm"
    >
      <input
        type="text"
        class="form-control form-control-lg me-2"
        name="search_query"
        placeholder="Enter a team name (e.g. Bayern Munich)..."
        required
      />
      <button type="submit" class="btn btn-primary btn-lg">Search</button>
    </form>
  </div>
</div>
{% endblock %}
